*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: blue; */
}
body{
  width: 100%;
  height: 100vh;
  background-image: url(https://i.artfile.ru/1920x1200_68886_[www.ArtFile.ru].jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;


}
nav{
  margin-bottom: 600px;
  width: 100%;
}
